In [11]:
import pandas as pd
df = pd.read_csv('hsbc_twitter_DATA_not GENERAL.csv')
df.rename(columns={"NEW HUMAN CATEGORY\n 0-1000 /4000-4468 Michael\n 1000-2500 Mehmet \n 2500-4000 Aryamaan":"labels"}, inplace = True)
df.head()

,,tweet,"HUMAN CATEGORY\n ARYAMAAN:1-1000,4000-4468\n Michael-Mehmet:1000-4000",SUB CATEGORY,COMMENTS,labels,SUB CATEGORY.1,COMMENTS.1,human category (Tarun),SUB CATEGORY.2,...,NEW CATEGORY,keyword,human - category,human - Sub category,Comment,HUMAN CATGEORY_NEW(ARYA),location,COMMENTS (FROM PARIJAAT),Category,Sub-category
0,2,"@LondOgrad Hello Eugene, we do apologise for t...",CUSTOMER_SERVICE_ISSUES,NaN,bad customer service,Customer Service Response,NaN,customer service reply,NaN,NaN,...,customer_service issues,delay,Delay,delay in calls,Huge Queues,customer_service_issues,"London, UK",NaN,{'category': 'Delay',subcategory': 'Delay in bounce back loan'
1,8,@ncohen4 @CooperativeBank @HSBC @HSBCUKBusines...,BAD REPUTATION,NaN,NaN,General,NaN,NaN,NaN,NaN,...,Bad_reputation,unhappy,{'category': 'Reputation',subcategory': 'Bad reputation',worst experience from customer – mess,BAD_REPUTATION,"Plymouth, England",NaN,{'category': 'Reputation',subcategory': 'Good reputation'
2,9,"@sharaola Good morning, sorry for your experie...",CUSTOMER_SERVICE_ISSUES,NaN,bad customer service,Customer Service Response,NaN,customer service reply,NaN,NaN,...,customer_service issues,customerservice,{'category': 'customer_service issues',subcategory': 'customerservice',General response from bank,General,"Cairo, Egypt",General message from hsbc,{'category': 'Reputation',subcategory': 'Good reputation'
3,11,@Bounce_BackLoan Still not a peep from HSBC,DELAY,Delay_in_bounce_back_loan,delay in bounce back loan,DELAY,Delay_in_bounce_back_loan,delay in bounce back loan,NaN,NaN,...,Delay_Bounceback_Loan,"delay , no response",{'category': 'Bounce back loan',subcategory': 'Bounce back loan delays',No reply,DELAY_BOUNCEBACK_LOAN,"Enschede, Nederland",DELAY,{'category': 'Bounce back loan',subcategory': 'Bounce back loan delays'
4,15,@djm2481 @mgcmitchell @HSBC_UK Thanks for the ...,Customer Service Response,NaN,customer service reply,Customer Service Response,NaN,customer service reply,NaN,NaN,...,General,any queries,{'category': 'Reputation',subcategory': 'General Response from Bank (tha...,General response from bank,NaN,United Kingdom,NaN,{'category': 'Reputation',subcategory': 'Good reputation'

In [12]:
df = df[df.labels != "General"]
df

,,tweet,"HUMAN CATEGORY\n ARYAMAAN:1-1000,4000-4468\n Michael-Mehmet:1000-4000",SUB CATEGORY,COMMENTS,labels,SUB CATEGORY.1,COMMENTS.1,human category (Tarun),SUB CATEGORY.2,...,NEW CATEGORY,keyword,human - category,human - Sub category,Comment,HUMAN CATGEORY_NEW(ARYA),location,COMMENTS (FROM PARIJAAT),Category,Sub-category
0,2,"@LondOgrad Hello Eugene, we do apologise for t...",CUSTOMER_SERVICE_ISSUES,NaN,bad customer service,Customer Service Response,NaN,customer service reply,NaN,NaN,...,customer_service issues,delay,Delay,delay in calls,Huge Queues,customer_service_issues,"London, UK",NaN,{'category': 'Delay',subcategory': 'Delay in bounce back loan'
2,9,"@sharaola Good morning, sorry for your experie...",CUSTOMER_SERVICE_ISSUES,NaN,bad customer service,Customer Service Response,NaN,customer service reply,NaN,NaN,...,customer_service issues,customerservice,{'category': 'customer_service issues',subcategory': 'customerservice',General response from bank,General,"Cairo, Egypt",General message from hsbc,{'category': 'Reputation',subcategory': 'Good reputation'
3,11,@Bounce_BackLoan Still not a peep from HSBC,DELAY,Delay_in_bounce_back_loan,delay in bounce back loan,DELAY,Delay_in_bounce_back_loan,delay in bounce back loan,NaN,NaN,...,Delay_Bounceback_Loan,"delay , no response",{'category': 'Bounce back loan',subcategory': 'Bounce back loan delays',No reply,DELAY_BOUNCEBACK_LOAN,"Enschede, Nederland",DELAY,{'category': 'Bounce back loan',subcategory': 'Bounce back loan delays'
4,15,@djm2481 @mgcmitchell @HSBC_UK Thanks for the ...,Customer Service Response,NaN,customer service reply,Customer Service Response,NaN,customer service reply,NaN,NaN,...,General,any queries,{'category': 'Reputation',subcategory': 'General Response from Bank (tha...,General response from bank,NaN,United Kingdom,NaN,{'category': 'Reputation',subcategory': 'Good reputation'
5,26,@Bounce_BackLoan any evidence of anyone gettin...,DELAY,Delay_in_bounce_back_loan,delay in bounce back loan,DELAY,Delay_in_bounce_back_loan,delay in bounce back loan,NaN,NaN,...,Bounce back loan,not paid,{'category': 'Bounce back loan',subcategory': 'Bounce back loan delays',No reply,DELAY_BOUNCEBACK_LOAN,"North East, England",NaN,{'category': 'Bounce back loan',subcategory': 'Bounce back loan delays'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4461,11701,@Bounce_BackLoan \n Has anyone been paid for b...,DELAY,Delay_in_bounce_back_loan,delay in bounce back loan,DELAY,Delay_in_bounce_back_loan,delay in bounce back loan,NaN,NaN,...,NaN,NaN,{'category': 'Bounce back loan',{'subcategory': 'Bounce back loan',NaN,NaN,NaN,NaN,{'category': 'Bounce back loan',subcategory': 'Bounce back loan delays'
4463,11716,@BritishBBank @Bounce_BackLoan @Metro_Bank I w...,DELAY,Delay_in_bounce_back_loan,delay in bounce back loan,BAD REPUTATION,NaN,NaN,NaN,NaN,...,NaN,NaN,{'category': 'Bounce back loan',{'subcategory': 'Bounce back loan',NaN,NaN,NaN,NaN,{'category': 'Bounce back loan',subcategory': 'Bounce back loan delays'
4464,11718,@WWIIadvertising Hi David. Sorry somethings up...,Customer Service Response,NaN,customer service reply,Customer Service Response,NaN,customer service reply,NaN,NaN,...,NaN,NaN,{'category': 'Reputation',subcategory': 'Good reputation',General response from bank,NaN,"London, UK",NaN,{'category': 'Reputation',subcategory': 'Good reputation'
4465,11720,@HSBC thank you I just called in on the phone ...,GOOD REPUTATION,NaN,helpful staff,GOOD REPUTATION,NaN,helpful staff,NaN,NaN,...,NaN,NaN,{'category': 'Reputation',subcategory': 'Good reputation',General response from bank,NaN,"England, United Kingdom",NaN,{'category': 'Reputation',subcategory': 'Good reputation'
4466,11725,@shezRommy @Bounce_BackLoan Probably be quicke...,DELAY,Delay_in_bounce_back_loan,delay in bounce back loan,DELAY,Delay_in_bounce_back_loan,delay in bounce back loan,NaN,NaN,...,NaN,NaN,{'category': 'Bounce back loan',{'subcategory': 'Bounce back loan',NaN,NaN,"Wales, United Kingdom",NaN,{'category': 'Bounce back loan',subcategory': 'Bounce back loan delays'

In [13]:
df_clean = df.tweet
df_clean.shape

(2198,)

In [14]:
df_clean = df_clean.dropna()
df_clean.shape

(2198,)

In [15]:
df_clean

0       @LondOgrad Hello Eugene, we do apologise for t...
2       @sharaola Good morning, sorry for your experie...
3             @Bounce_BackLoan Still not a peep from HSBC
4       @djm2481 @mgcmitchell @HSBC_UK Thanks for the ...
5       @Bounce_BackLoan any evidence of anyone gettin...
                              ...
4461    @Bounce_BackLoan \n Has anyone been paid for b...
4463    @BritishBBank @Bounce_BackLoan @Metro_Bank I w...
4464    @WWIIadvertising Hi David. Sorry somethings up...
4465    @HSBC thank you I just called in on the phone ...
4466    @shezRommy @Bounce_BackLoan Probably be quicke...
Name: tweet, Length: 2198, dtype: object

In [16]:
import re

def remove_unicode(text):

    try:
        text = text.encode("latin_1").decode("raw_unicode_escape").encode('utf-16', 'surrogatepass').decode('utf-16')
    except:
        text = text
        
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
        "]+", re.UNICODE)
    
    text = re.sub(emoji_pattern, '', text)
    text = ''.join(text.split('\\n')) # to remove uncompiled \n
    text = re.sub('\n', '', text)     # to remove compiled \n

    return text

In [17]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = stopwords.words('english')
# tokens_without_sw=[t for t in list_data2 if t not in stop_words]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [18]:
def clean_data(text, small_word_lmt=2, extra_words=["ðÿœˆ"], stop_words = stop_words):
    
    text = remove_unicode(text)
    list_data2=[]
    sentence=text.lower().split(' ')
    for word in sentence:
        if not (word.startswith('@') | word.startswith('http')) \
           and len(word) > small_word_lmt \
           and not word.isnumeric() \
           and word not in extra_words \
           and word.isalpha() :
            list_data2.append(word)

    return " ".join(list_data2)

In [19]:
# def clean_data(text, small_word_lmt=2, extra_words=["ðÿœˆ"], stop_words = stop_words):
    
#     text = remove_unicode(text)
#     list_data2=[]
#     sentence=text.lower().split(' ')
#     for word in sentence:
#         if not (word.startswith('@') | word.startswith('#') | word.startswith('http')) \
#            and len(word) > small_word_lmt \
#            and not word.isnumeric() \
#            and word not in extra_words \
#            and word not in stop_words \
#            and word.isalpha() :
#             list_data2.append(word)

#     return " ".join(list_data2)

In [20]:
df_clean = df_clean.apply(clean_data)

In [44]:
len(df_clean[3].split(" "))

5

In [43]:
df_clean[3]

'still not peep from hsbc'

In [22]:
del labeled_docs_try

NameError: name 'labeled_docs_try' is not defined

In [23]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [341]:
labeled_docs_try =pd.DataFrame(df_clean)
labeled_docs_try["labels"] = df.labels
labeled_docs_try["cluster"] = docs.cluster
labeled_docs_try.head(50)
pd.crosstab(labeled_docs_try.labels, labeled_docs_try.cluster)

cluster,-1,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
labels,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
BAD REPUTATION,119,0,0,1,2,0,0,0,0,0,0,0,1,6,5,4,0,0,0,2,6,5,31,5,9,7,2,2,16,3,2,1
CHURN,18,0,0,0,0,0,0,0,1,0,0,0,0,1,3,1,0,0,1,1,0,2,1,0,1,2,0,0,3,2,0,0
COVID19,22,0,0,0,9,4,0,0,0,4,1,0,0,0,2,1,1,0,0,0,1,0,1,1,0,1,1,0,1,0,0,0
CUSTOMER_SERVICE_ISSUES,119,0,0,0,0,0,0,0,1,0,0,1,2,2,7,2,0,0,0,2,10,2,8,5,23,2,3,3,6,8,19,2
Customer Query,86,0,0,0,1,0,0,1,2,0,0,0,4,0,18,10,0,0,0,1,16,0,0,1,10,8,0,5,0,1,2,2
Customer Service Response,200,0,0,0,2,0,43,124,2,0,0,30,180,0,8,1,3,2,7,5,9,0,1,1,3,0,18,0,3,3,1,7
DELAY,360,0,0,0,0,1,0,0,2,0,1,0,0,5,24,7,0,0,0,8,24,0,9,24,149,2,2,6,13,30,26,23
ESG,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
GOOD REPUTATION,25,0,0,0,1,0,0,0,0,0,0,0,2,1,1,1,14,9,17,0,2,18,0,0,2,0,0,0,1,2,1,4
General,901,37,60,83,132,30,9,8,59,30,34,3,24,19,308,24,38,69,35,27,61,5,30,11,35,24,24,32,28,22,16,51
Junk,0,0,0,0,0,0,0,0,0,0,1,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Language,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
labeled_docs_try["labels"].value_counts()

NameError: name 'labeled_docs_try' is not defined

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
def tfidfmatrix(data, vectorizer):
    terms = vectorizer.fit_transform(data)
    return pd.DataFrame(terms.toarray(), columns = vectorizer.get_feature_names())

tfidf_vec = TfidfVectorizer()

In [26]:
tfidf_mat = tfidfmatrix(df_clean, tfidf_vec)

In [53]:
import numpy as np
tfidf_mat = tfidf_mat.replace(0,np.nan)
tfidf_mat

,abandoned,abigail,ability,able,aboard,about,above,abse,absolute,absolutely,...,yours,yourself,yourselves,youtube,youve,yrs,zejtun,zero,zeroed,ziad
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
top_n = 15
most_common = pd.DataFrame({n: tfidf_mat.T[col].nlargest(top_n).index.tolist() 
                        for n, col in enumerate(tfidf_mat.T)}).T

ValueError: arrays must all be same length

In [29]:
most_common

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,apologise,huge,lines,checking,managed,delay,reach,current,did,due,the,customer,hello,just,our
1,your,national,along,contact,assist,details,good,number,send,sorry,please,will,with,and,for
2,peep,still,from,not,hsbc,abandoned,abigail,ability,able,aboard,about,above,abse,absolute,absolutely
3,paul,mention,queries,let,have,happy,know,you,thanks,any,for,the,abandoned,abigail,ability
4,evidence,maybe,think,anyone,paid,today,getting,any,they,hsbc,abandoned,abigail,ability,able,aboard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2193,made,anyone,paid,bbl,may,application,has,the,been,with,for,abandoned,abigail,ability,able
2194,announce,disappointments,delighted,life,scheme,under,however,approved,existing,full,would,loan,had,bounce,been
2195,somethings,include,upset,explain,private,use,find,your,code,post,name,full,link,like,send
2196,very,polite,chap,knowledgeable,member,helpful,staff,called,phone,thanks,just,thank,you,and,the
2197,finish,quicker,piss,takes,probably,start,take,than,loan,weeks,bounce,get,back,that,from

In [46]:
most_common_merged = most_common[most_common.columns].apply(
    lambda x: ' '.join(x),
    axis=1
)
most_common_merged[2]

'peep still from not hsbc abandoned abigail ability able aboard about above abse absolute absolutely'

In [48]:
final_common = pd.DataFrame()
final_common["text"] = df_clean if

Empty DataFrame
Columns: []
Index: []

In [6]:
list_data = df_clean.to_list()
list_data = [str(sent) for sent in list_data]

In [7]:
from sentence_transformers import SentenceTransformer

In [8]:
model=SentenceTransformer('distilbert-base-nli-mean-tokens')
embeddings = model.encode(list_data, show_progress_bar=True)

Batches:   0%|          | 0/140 [00:00<?, ?it/s]

In [9]:
embeddings.shape

(4467, 768)

In [10]:
import umap

In [26]:
three_dim_embedding = umap.UMAP(n_neighbors=5, min_dist=0.0, n_components=5).fit_transform(embeddings)
#n_neighbors=30, min_dist=0.0,

In [27]:
three_dim_embedding

array([[10.876028 ,  2.5025191,  3.8388834,  6.5394683,  2.1063478],
       [ 9.421027 ,  4.1635227,  3.5461972,  3.9531038,  6.2300844],
       [ 9.9411125,  2.2208962,  3.3787808,  6.4933195,  2.894225 ],
       ...,
       [10.628931 ,  2.2400413,  3.2418516,  5.895132 ,  2.0911858],
       [ 9.41513  ,  1.5121222,  5.825841 ,  6.1729827,  2.4830942],
       [ 8.952364 ,  4.5669227,  4.1293826,  5.491895 ,  6.6999965]],
      dtype=float32)

In [28]:
import hdbscan

In [29]:

cluster1 = hdbscan.HDBSCAN(
    min_samples=20,
    min_cluster_size=20,
    cluster_selection_epsilon = 0.5
).fit_predict(three_dim_embedding)

In [30]:
cluster2 = hdbscan.HDBSCAN(min_samples = 25,
                           min_cluster_size=20,
                           cluster_selection_epsilon = 0.5,
                           metric = 'euclidean',
                           cluster_selection_method = "eom").fit_predict(three_dim_embedding)

In [31]:
set(cluster1)

{-1, 0, 1, 2, 3, 4, 5, 6, 7}

In [32]:
set(cluster2)

{-1, 0, 1, 2, 3, 4}

In [33]:
cluster = cluster1

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='white', rc={'figure.figsize':(10,8)})

two_dim_embedding = umap.UMAP(n_components=2).fit_transform(embeddings)


clustered = (cluster >= 0)
plt.scatter(two_dim_embedding[~clustered, 0],
            two_dim_embedding[~clustered, 1],
            c=(0.5,0.5,0.5),
            # s=1,
            alpha=0.5
            )
plt.scatter(two_dim_embedding[clustered, 0],
            two_dim_embedding[clustered, 1],
            c=cluster[clustered],
            # s=1,
            cmap='Spectral');

In [25]:
docs = pd.DataFrame(df_clean)
docs["cluster"] = cluster
docs

                                                  tweet  cluster
0     @LondOgrad Hello Eugene, we do apologise for t...        7
1     @ncohen4 @CooperativeBank @HSBC @HSBCUKBusines...        9
2     @sharaola Good morning, sorry for your experie...        9
3           @Bounce_BackLoan Still not a peep from HSBC        9
4     @djm2481 @mgcmitchell @HSBC_UK Thanks for the ...        9
...                                                 ...      ...
4462  @demosisto why should HSBC show their support?...        9
4463  @BritishBBank @Bounce_BackLoan @Metro_Bank I w...        9
4464  @WWIIadvertising Hi David. Sorry somethings up...        7
4465  @HSBC thank you I just called in on the phone ...        9
4466  @shezRommy @Bounce_BackLoan Probably be quicke...        9

[4467 rows x 2 columns]

In [323]:
labeled_docs_all = docs.groupby(["cluster"], as_index=False).agg({"tweet": " ".join})

In [324]:
labeled_docs_all

    cluster                                              tweet
0        -1  @djm2481 @mgcmitchell @HSBC_UK Thanks for the ...
1         0  @Tata_Crucible HSBC Bank \n  \n  #FromTheQuizM...
2         1  HSBC get burned as real physical gold market d...
3         2  Things about HSBC\n \n #hsbc #banking #bizzall...
4         3  @flap10 @Bounce_BackLoan It looks #HSBC is con...
5         4  Spillard Safety Systems, a supplier of special...
6         5  @Cam_Baxter Hi Cam. Glad that it is all sorted...
7         6  @LondOgrad Hello Eugene, we do apologise for t...
8         7  @ArcticReed @HSBC_UK @RishiSunak Bounce back l...
9         8  @HSBC loses $200m in one day due to choppy gol...
10        9  @Bounce_BackLoan @karen_dempster @points4profi...
11       10  @sharaola Good morning, sorry for your experie...
12       11  @iSrivats Hello, Thank you for writing into us...
13       12  @miss_simmons1 @CooperativeBank @HSBC Donâ€™t ...
14       13  @StuR328 @Zahabriel @Hulstone @LloydsBank @Ris...
15       14  @ncohen4 @CooperativeBank @HSBC @HSBCUKBusines...
16       15  #WeAreTheCity are extremely proud of all our n...
17       16  @HSBC @HSBC_UK Thank you HSBC https://t.co/IPC...
18       17  Hi everyone, this is Jimmy! I'll be happy to a...
19       18  @Bounce_BackLoan Thanks! Fingers crossed every...
20       19  @Bounce_BackLoan any news/insight into how HSB...
21       20  K, so I'm leaving @HSBC after almost 6 years f...
22       21  @HSBC_UK Thank you for failing to respond to m...
23       22  @HSBCUKBusiness Waited for interruption loan. ...
24       23  @Bounce_BackLoan Anyone applied later than mon...
25       24  @Sw11Wayne @Bounce_BackLoan @StarlingBank @Ann...
26       25  @harshildave87 Thanks for sharing! This is not...
27       26  @Bounce_BackLoan Still not a peep from HSBC @j...
28       27  @DaveMashiter @AshDMcarp @Bounce_BackLoan No p...
29       28  @BarclaysUKHelp @BarclaysUK 3 hours 40 mins an...
30       29  @HSBC_UK Hi, I was just in a call for 1 hour w...
31       30  @Bounce_BackLoan @EvoSupplies1 @Naseinternatio...